<%- include('partials/header1'), {pathPart} %>
    <%- include('partials/whatsapp'), {pathPart} %>



        <div id="layerslider">
            <!-- Slide 1 -->
            <div class="ls-slide" data-ls="transition2d:104;timeshift:-2000;">
                <!-- Background image -->
                <img src="/assets/img/slide1.jpeg" class="ls-bg" alt="Slide 1 background" title="Slide 1 Background"
                    loading="eager">
                <!-- Parallax Image -->
                <img src="/assets/img/sun.png" class="ls-l img-responsive hidden-xs hidden-sm parallax1" alt="Sun Image"
                    title="Sun Illustration" data-ls="delayin:1000;easingin:fadeIn;parallaxlevel:7;" loading="eager">
                <!-- Text -->
                <div class="ls-l header-text container"
                    data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;parallaxlevel:2;">
                    <h1>Welcome to SecondMom</h1>
                    <p class="subtitle hidden-xs">SecondMom is extension of your home and committed to care your child
                        as you care.</p>
                    <!-- Button -->
                    <div class="page-scroll hidden-xs">
                        <a class="btn" href="#contact" title="Contact Little Cocoon">Contact us</a>
                    </div>
                </div>
                <!-- Parallax Image -->
                <img src="/assets/img/flower.png" class="ls-l img-responsive hidden-xs hidden-sm parallax2"
                    alt="Flower Image" title="Decorative Flower" data-ls="delayin:1500;easingin:fadeIn;parallaxlevel:6;"
                    loading="eager">
            </div>
            <!-- Slide 2 -->
            <div class="ls-slide" data-ls="transition2d:104;timeshift:-2000;">
                <!-- Background image -->
                <img src="/assets/img/slide3.jpg" class="ls-bg" alt="Slide 2 background" title="Slide 2 Background"
                    loading="eager">
                <!-- Parallax Image -->
                <img src="/assets/img/bee.png" class="ls-l img-responsive hidden-xs hidden-sm parallax1" alt="Bee Image"
                    title="Flying Bee Illustration" data-ls="delayin:1000;easingin:fadeIn;parallaxlevel:7;">
                <!-- Text -->
                <div class="ls-l header-text"
                    data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;parallaxlevel:2;">
                    <h1>Welcome to SecondMom</h1>
                    <p class="subtitle hidden-xs">SecondMom is extension of your home and committed to care your child
                        as you care.</p>
                    <!-- Button -->
                    <div class="page-scroll hidden-xs">
                        <a class="btn" href="#contact" title="Contact Little Cocoon">Contact us</a>
                    </div>
                </div>
                <!-- Parallax Image -->
                <img src="/assets/img/flower.png" class="ls-l img-responsive hidden-xs hidden-sm parallax2"
                    alt="Flower Image 2" title="Another Decorative Flower"
                    data-ls="delayin:1500;easingin:fadeIn;parallaxlevel:6;">
            </div>
        </div>




        <!-- Clouds SVG Divider -->
        <div class="hidden-xs container-fluid cloud-divider">
            <svg id="deco-clouds1" class="head" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%"
                height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M-5 100 Q 0 20 5 100 Z
                  M0 100 Q 5 0 10 100
                  M5 100 Q 10 30 15 100
                  M10 100 Q 15 10 20 100
                  M15 100 Q 20 30 25 100
                  M20 100 Q 25 -10 30 100
                  M25 100 Q 30 10 35 100
                  M30 100 Q 35 30 40 100
                  M35 100 Q 40 10 45 100
                  M40 100 Q 45 50 50 100
                  M45 100 Q 50 20 55 100
                  M50 100 Q 55 40 60 100
                  M55 100 Q 60 60 65 100
                  M60 100 Q 65 50 70 100
                  M65 100 Q 70 20 75 100
                  M70 100 Q 75 45 80 100
                  M75 100 Q 80 30 85 100
                  M80 100 Q 85 20 90 100
                  M85 100 Q 90 50 95 100
                  M90 100 Q 95 25 100 100
                  M95 100 Q 100 15 105 100 Z">
                </path>
            </svg>
        </div>
        <!-- / section ends-->


        <!-- Section About -->
        <section id="about">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- Section heading -->
                    <div class="section-heading">
                        <h2 style="font-size: 41px;">About us</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-5">
                        <!-- Carousel -->
                        <img class="center-block img-responsive img-curved" src="/assets/img/about/home1.jpeg" alt="">

                    </div>
                    <!-- text -->
                    <div class="col-lg-7 col-sm-12">
                        <h4>SecondMom is extension of your home and committed to care your child as you care. </h4>
                        <p style="text-align:justify;">We believe that childcare is a very important extension of you
                            and your child's family. We will encourage your child to develop at his/her own level.</p>
                        <p style="text-align:justify;">We are having experience of 10 years in child care industry,
                            Under the stewardship of Mrs. Sarika Gupta Founder of SecondMom Child Care Pvt. Ltd., having
                            enriched 15 years' experience in child education and development. Towards this she has
                            endeavoured to have a team of qualified and trained staff to care for your child.</p>
                        <p style="text-align:justify;">
                            Acutely conscious of the complex and complicated world, the children will face as citizen in
                            their future, SecondMon assure you the Best can, to nurture courage and a positive outlook
                            in life. We have a panel of experts to advice and give us their inputs for betterment of our
                            children.</p>

                        <h5 style="font-weight:800;font-size:19px">The Best Care for your Baby</h5>
                        <p>Safety has always been and continues to be first priority, our expert Paediatric and other
                            doctors' panel as below: -</p>
                    </div>
                    <!-- /col-lg-8 -->
                </div>
                <!-- /row -->
                <div class="row features">
                    <!-- First Collumn -->
                    <div class="col-lg-12 col-sm-12">
                        <!-- item1 -->
                        <div class="col-md-3 media text-center">
                            <img src="/assets/img/about/consulting.png" alt="Secondmom"
                                style="height: 128px;padding: 23px;">
                            <div class="media-body">
                                <h5 class="media-heading">Medical professionals</h5>

                            </div>
                        </div>
                        <!-- item2 -->
                        <div class="col-md-3 media text-center">
                            <img src="/assets/img/about/psychologist.png" alt="Secondmom"
                                style="height: 128px;padding: 23px;">
                            <div class="media-body">
                                <h5 class="media-heading">Psychologist </h5>

                            </div>
                        </div>
                        <!-- item3 -->
                        <div class="col-md-3 media text-center">
                            <img src="/assets/img/about/protect.png" alt="Secondmom"
                                style="height: 128px;padding: 23px;">
                            <div class="media-body">
                                <h5 class="media-heading">child care professionals </h5>

                            </div>
                        </div>
                        <div class="col-md-3 media text-center">
                            <img src="/assets/img/about/community.png" alt="Secondmom"
                                style="height: 128px;padding: 23px;">
                            <div class="media-body">
                                <h5 class="media-heading">Sociologist </h5>

                            </div>
                        </div>
                    </div>
                    <!-- Second Collumn -->
                    <div class="col-lg-12 col-sm-12">
                        <!-- item4 -->
                        <!-- <div class="col-md-3 media text-center">
                        <i class="flaticon-person-1"></i>
                        <div class="media-body">
                           <h5 class="media-heading">Sociologist </h5>
                           
                        </div>
                     </div> -->
                        <!-- item5 -->
                        <!-- <div class="col-md-4 media text-center">
                        <i class="flaticon-school"></i>
                        <div class="media-body">
                           <h5 class="media-heading">Safety First</h5>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                        </div>
                     </div> -->
                        <!-- item6 -->
                        <!-- <div class="col-md-4 media text-center">
                        <i class="flaticon-music"></i>
                        <div class="media-body">
                           <h5 class="media-heading">Activities</h5>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                        </div>
                     </div> -->
                    </div>
                </div>


                <div class="col-lg-12 col-sm-12 paper_block" style="margin-top:20px">
  <h3 class="text-center">What Parents Think</h3>
  <div id="owl-testimonials" class="owl-carousel">
    <!-- testimonial -->
    <% testimonials.forEach(item => { %>
      <blockquote>
        <div class="col-md-4 col-lg-4 col-centered">
          <!-- testimonial image-->
          <img src="<%= process.env.S3_BASE_URL + item.image %>"
               alt="Secondmom" class="img-responsive img-circle"
               style="height: 100px;width: 100px;object-fit: cover;">
        </div>
        <div class="col-md-10 col-md-offset-1 quote-test">
          <p>
            <span style="color: #444444; font-family: Georgia, Times, serif; font-size: 14px; font-style: italic; background-color: #ffffff;">
              "<%= item.review.length > 140 ? item.review.substring(0, 140) : item.review %>
              <% if (item.review.length > 140) { %>
                <span class="dots">...</span>
                <span class="more-text d-none"><%= item.review.substring(140) %></span>"
              <% } %>
            </span>
            <br>
            <small><i class="fa fa-user"></i><%= item.name %></small>
           
            <!-- <small><i class="fa fa-user"></i><%= item.companyProfile %></small> -->
            <span class="read-more-container">
              <% if (item.review.length > 140) { %>
                <button class="btn read-more-btn" style="font-weight: normal !important;color: #ffff !important;">Read More</button>
                <button class="btn read-less-btn d-none" style="font-weight: normal !important;color: #ffff !important;">Read Less</button>
              <% } %>
            </span>
          </p>
        </div>
      </blockquote>
    <% }) %>
  </div>
  <!--owl testimonials-->
</div>

<style>
  /* Ensure the d-none class is defined */
  .d-none {
    display: none !important;
  }


  .owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    
    background: #8e4da6 !important;
    
}

</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.body.addEventListener("click", (e) => {
      if (e.target && e.target.classList.contains("read-more-btn")) {
        const quoteTest = e.target.closest(".quote-test");
        if (quoteTest) {
          quoteTest.querySelector(".dots").classList.add("d-none");
          quoteTest.querySelector(".more-text").classList.remove("d-none");
          e.target.classList.add("d-none");
          quoteTest.querySelector(".read-less-btn").classList.remove("d-none");
        }
      } else if (e.target && e.target.classList.contains("read-less-btn")) {
        const quoteTest = e.target.closest(".quote-test");
        if (quoteTest) {
          quoteTest.querySelector(".dots").classList.remove("d-none");
          quoteTest.querySelector(".more-text").classList.add("d-none");
          e.target.classList.add("d-none");
          quoteTest.querySelector(".read-more-btn").classList.remove("d-none");
        }
      }
    });
  });
</script>

            </div>
            <!--/container-->
        </section>
        <!--/ Section ends -->

 <!-- Section Team -->
           <section id="team" class="color-section">
            <!-- svg triangle shape -->
            <svg class="triangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
               <path class="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
            </svg>
            <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                  <!-- Section heading -->
                  <div class="section-heading">
                     <h2>Meet Our Directors</h2>
                  </div>
               </div>
               <!-- Intro text -->
             
               <!-- Team Carousel-->
               <div class="row">
                  <div class="col-lg-6">
                     <!-- member 1-->
                     <div class="team-item gupta1">
                        <img src="/assets/img/founder1.jpg " style="height:309px" alt="Secondmom"/>
                        <div class="team-caption">
                           <h5 class="text-light">Mr. Manoj Gupta</h5>
                           <!-- <p>Founder</p> -->
                        </div>
                     </div>
                     <!-- /team-item-->
                  </div>
                  <!-- col-lg-12-->
                  <div class="col-lg-6">
                     <!-- member 2-->
                     <div class="team-item gupta2">
                        <img src="/assets/img/founder2.jpg" style="height:309px" alt="Secondmom"/>
                        <div class="team-caption">
                           <h5 class="text-light">Mrs. Sarika Gupta</h5>
                           
                        </div>
                     </div>
                     <!-- /team-item-->
                  </div>
                
               </div>
               <!--/owl-team -->	
            </div>
            <!--/container -->
         </section>
         
         <!-- Section ends -->

 <section id="callout" class="small-section">
            <!-- Clouds background -->
            <div class="hidden-xs">
               <div class="cloud x1"></div>
               <div class="cloud x2"></div>
               <div class="cloud x3"></div>
               <div class="cloud x4"></div>
               <div class="cloud x5"></div>
               <div class="cloud x6"></div>
               <div class="cloud x7"></div>
            </div>
            <!-- /Clouds ends -->
            <div class="container">
               <!-- Animated Sun -->
               <div class="sun hidden-sm hidden-xs">
                  <div class="sun-face">
                     <div class="sun-hlight"></div>
                     <div class="sun-leye"></div>
                     <div class="sun-reye"></div>
                     <div class="sun-lred"></div>
                     <div class="sun-rred"></div>
                     <div class="sun-smile"></div>
                  </div>
                  <!-- Sun rays -->
                  <div class="sun-anime">
                     <div class="sun-ball"></div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                  </div>
               </div>
               <!-- /Animated Sun -->
               <div class="col-md-6 col-sm-6 text-center">
                  <div class="well care corporate">
                     <h3>Corporate Day care</h3>
                     <p style="text-align:justify;">Work place day care Support working women, we provide Near Site Day care and onsite day care facility for children where parents specially women who wants to return to their work again can bring their baby to work place and leave them at the day care until the end of their working hours. Which will be easy for parent to roll in and check on their child. This model is exclusively designed for corporate who are looking for child care facility only.</p>
                     <b>Custom on-site child care Facility for your employees, set up inside your premises:</b>
                     <div class="page-scroll">
                        <!-- Button-->
                        <a class="btn" href="#contact">Contact us</a>
                     </div>
                     <!-- /page-scroll -->
                  </div>
                  <!-- /well -->
               </div>
               <!-- /col-md-6 -->
            </div>
            <!-- /container-->
         </section>

<!-- Section Ends-->
         <section id="about">
            <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                 
                  <div class="section-heading">
                     <h2 style="font-size: 41px;">SecondMom - Advantage</h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12 col-lg-5">
                     
                     <div id="owl-about" class="owl-carousel">
                        <div class="item">
                           <img class="img-responsive" src="/assets/img/about/about1.jpg" alt="Secondmom">
                        </div>
                        <div class="item">
                           <img class="img-responsive" src="/assets/img/about/about2.jpg" alt="Secondmom">
                        </div>
                        <div class="item">
                           <img class="img-responsive" src="/assets/img/about/about3.jpg" alt="Secondmom">
                        </div>
                     </div>
                  </div>
                 
                  <div class="col-lg-7 col-sm-12 advantage"><br>
                
                     <p style="text-align:justify;">Through our varied programs, your child (or children!) will learn life lessons right from the beginning.  They will learn to be independent, while also learning about teamwork. They will learn the value of leadership, support, emotional responsibility, sharing, inter personal relationship, initiative, emotional stability and good habits as toilet training and more. At SecondMom Day Care, we have designed our facilities to encompass many areas that will spark their imagination, encourage curiosity, and make learning fun so your children will be versatile and fully enriched.</p>
                    
                  </div>
                 
               </div>
               <!-- /row -->
               <div class="row features">
                  <!-- First Collumn -->
                  <div class="col-lg-12 col-sm-12">
                     <!-- item1 -->
                     <div class="col-md-3 media text-center">
                        <img src="/assets/img/about/environment.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Safe and Nurturing environment</h5>
                         
                        </div>
                     </div>
                     <!-- item2 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/spray.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Clean and hygiene place</h5>
                          
                        </div>
                     </div>
                     <!-- item3 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/thermometer.png"alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Temperature controlled indoor environments </h5>
                         
                        </div>
                     </div>
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/staff.png"alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Trained staff and loving caregivers </h5>
                           
                        </div>
                     </div>
                  </div>
                  <!-- Second Collumn -->
                  <div class="col-lg-12 col-sm-12">
                     <!-- item4 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/reading.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Age appropriate learning aids </h5>
                           
                        </div>
                     </div>
                     <!-- item5 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/honesty.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Transparency & Trust</h5>
                           <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p> -->
                        </div>
                     </div>
                     <!-- item6 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/instructor.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Tuition Facility</h5>
                           <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p> -->
                        </div>
                     </div>
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/van.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Pickup and drop facility</h5>
                           <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p> -->
                        </div>
                     </div>
                  </div>

                  <div class="col-lg-12 col-sm-12">
                     <!-- item4 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/vegetable.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Fresh nutritious food </h5>
                           
                        </div>
                     </div>
                     <!-- item5 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/girl.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Infant massage for your growing child.</h5>
                           <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p> -->
                        </div>
                     </div>
                     <!-- item6 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/custody.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Child safe indoor and outdoor areas</h5>
                           <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p> -->
                        </div>
                     </div>
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/doctor.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Doctors on call.</h5>
                           <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12 col-sm-12">
                     <!-- item4 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/care.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Infant care</h5>
                           
                        </div>
                     </div>
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/baby-bed.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Dedicated sleeping beds</h5>
                           
                        </div>
                     </div>
                     <div class="col-md-3 media text-center">
                     <img src="/assets/img/about/lockers.png" alt="Secondmom" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Allocated Lockers</h5>
                           
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /row features -->
               
               <!-- /col-lg-7 -->
            </div>
            <!--/container-->	  
         </section>

<!-- Parallax object -->
         <div class="parallax-object1 hidden-sm hidden-xs" data-0="opacity:1;"
            data-100="transform:translatey(40%);"
            data-center-center="transform:translatey(-180%);">
            <!-- Image -->
            <img src="/assets/img/about/parallaxobject1.png" alt="Secondmom">
         </div>

        <!-- Section Services -->


        <!-- Section Team -->
         <section id="team" class="color-section">
            <!-- svg triangle shape -->
            <svg class="triangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
               <path class="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
            </svg>
            <div class="container">
               <!-- <div class="col-lg-8 col-lg-offset-2">
                
                  <div class="section-heading">
                     <h2>Our Team</h2>
                  </div>
               </div> -->
               <!-- Intro text -->
               <div class="row team">
                  <div class="col-lg-5 col-md-5 res-margin">
                     <!-- Intro image -->
                     <img src="/assets/img/about/ph4.jpg" class="center-block img-responsive img-curved" alt="Secondmom"/>
                  </div>
                  <div class="col-lg-7 col-md-7 benefit">
                     <h3>Benefits to Employers</h3>
                     <p style="text-align:justify;">Reduce absenteeism, increase job satisfaction, earlier return from maternity leave, increase productivity Today corporates big and small look for a partnership with agencies which work to offer innovative benefits to families, to assist in addressing some of the work-life conflicts that families face.  One of the conflicts is childcare and early learning.  Corporates are willing to assist agencies like SeconMom in this.  To find solutions that fit with their employee's needs, ranging from on-site or near-site child care, back/up care, subsidies, employers' paid child care days, resources and referrals.

                     </p>
                  </div>
               </div><br>
               <div class="row team">
                  
                  <div class="col-lg-7 col-md-7 ">
                     <h3>We Make It Easy for Corporates to Partner with Us. How?</h3>
                     <p style="text-align:justify;">Corporates retain SecondMom to provide a comprehensive childcare and early learning program, with all the ancillary services needed to provide and operate the program. We provide all labor, including qualified child care providers/educators, supervisors, insurance and liability and program materials and resources. We only employ fully skilled, loving and qualified staff who meet certification levels and performance levels of accreditation. We adhere to policy standards and ethics, performing all services diligently, skillfully, efficiently, carefully and consistently with integrity and honesty. The little one and their families will be our priority!</p>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Fast execution as space & infrastructure support already exists</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Corporate will have complete control on design, access & quality of the centre</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Holidays & timings will be managed as per the Corporate's need</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">We ensure the actual costs + management fee pricing</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">We work on trust with complete transparency.</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Entire capacity only for Corporate's employees</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Actual running costs can be scaled up or down according to the utilization or number of children.</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Trust us as we trust you.</p>
                     </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-md-5 res-margin partner">
                     <!-- Intro image -->
                     <img src="/assets/img/teammain.jpg" class="center-block img-responsive img-curved" alt="Secondmom"/>
                     <!-- <img src="img/gallery12.jpg" class="center-block img-responsive img-curved" alt="Secondmom"/> -->
                  </div>
               </div>
            </div>
            <!--/container -->
         </section>
         <!-- Section ends -->
        

<style>
         @media (max-width: 480px) {   
            .nav-tabs {
   
    margin-top: 40px;
}
           }         

   
</style>
          <section id="activities">
            <div class="container">
               <!-- Section Heading -->
               <div class="section-heading">
                  <h2 style="font-size: 41px;">A Day @SecondMom</h2>
               </div>
               <!--Navigation -->
               <ul class="nav nav-tabs" id="myTab">
                  <li class="active"><a href="#tab1" data-toggle="tab" style=" border-radius:20px 20px 20px 20px;">Welcome & Settling-in </a></li>
                  <li><a href="#tab2" data-toggle="tab" style=" border-radius:20px 20px 20px 20px;">Circle Time</a></li>
                  <li><a href="#tab3" data-toggle="tab" style=" border-radius:20px 20px 20px 20px;">Tummy needs Yummy food</a></li>
                  <li><a href="#tab4" data-toggle="tab" style=" border-radius:20px 20px 20px 20px;">Sports & Yoga time</a></li>
                  <!-- <li><a href="#tab5" data-toggle="tab">Arts and Crafts</a></li>
                  <li><a href="#tab6" data-toggle="tab">Music and Story Reading</a></li>
                  <li><a href="#tab7" data-toggle="tab">Dance & Role Play</a></li>
                  <li><a href="#tab8" data-toggle="tab">Sleeping Time</a></li> -->
               </ul>
               <div class="tabbable">
                  <div class="tab-content col-md-12 col-centered">
                     <!--Tab Content 1 -->
                     <div class="tab-pane active in fade" id="tab1">
                        <div class="row">
                           <div class="col-md-5 col-lg-5 pull-left">
                              <!-- Activity image-->
                              <img src="/assets/images/welcome.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                           <div class="col-md-7 col-lg-7 pull-left">
                              <!-- Activity text-->
                              <h3>Welcome & Settling-in</h3>
                              <p>At SecondMom we are committed to facilitate your little one as they are at their home. Please rest assured that we will do our b
                              est to communicate, support, enough attention and build your child's self-esteem. </p>
                              <p>Each child is Unique and different and they have their own way to get settle and having different ways to communicate like crying and displaying their emotions, which is okay.</p>
                              <p> 
                              Here with a teacher's guidance, we help a child learn to make independent choices and thereby gain self-confidence. Each child learns to use materials appropriately within a structured setting.</p>

                             
                           </div>
                           <!-- /.col-md-7 -->
                        </div>
                        <!-- /.row -->
                     </div>
                     <!-- /#tab1 -->	
                     <!--Tab Content 2 -->
                     <div class="tab-pane fade" id="tab2">
                        <div class="row">
                           <div class="col-md-5 col-lg-5 pull-left">
                              <!-- Activity image-->
                              <img src="/assets/images//fb.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                           <div class="col-md-7 col-lg-7 pull-left day">
                              <!-- Activity text-->
                              <h3>Circle Time</h3>
                              <p>It is most important time to interact socially among young children. It helps to develop positive relationships between children through engaging and fun activities.</p> 
                           </div>
                           <!-- /.col-md-7 -->
                        </div>
                        <!-- /.row -->
                     </div>
                     <!-- /#tab2 -->	
                     <!--Tab Content 3 -->
                     <div class="tab-pane fade" id="tab3">
                        <div class="row">
                           <div class="col-md-5 col-lg-5 pull-left">
                              <!-- Activity image-->
                              <img src="/assets/images/activity3.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                           <div class="col-md-7 col-lg-7 pull-left day">
                              <!-- Activity text-->
                              <h3>Tummy needs Yummy food</h3>
                              <p>Children, however need different amount of food in specific nutrients at different ages. We provide a perfect formula to fuel your child's growth and development as a Daily Meals.</p>
                           </div>
                           <!-- /.col-md-7 -->
                        </div>
                        <!-- /.row -->
                     </div>
                     <!-- /#tab3 -->	
                     <!--Tab Content 4 -->
                     <div class="tab-pane fade" id="tab4">
                        <div class="row">
                           <div class="col-md-5 col-lg-5 pull-left">
                              <!-- Activity image-->
                              <img src="/assets/images/sports.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                           <div class="col-md-7 col-lg-7 pull-left day">
                              <!-- Activity text-->
                              <h3>Sports & Yoga time</h3>
                              <p>Outdoor Play and Yoga is offered daily, allowing children to run about, swing, playing football, basketball, cricket, chess, carom, climb and ride tricycles and all-time favourite games.</p>
                           </div>
                           <!-- /.col-md-7 -->
                        </div>
                        <!-- /.row -->
                     </div>
                     <!-- /#tab4 -->	
                     <!--Tab Content 5 -->
                     <!-- <div class="tab-pane fade" id="tab5">
                        <div class="row">
                           <div class="col-md-5 col-lg-5 pull-left">
                             
                              <img src="img/activity5.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                           <div class="col-md-7 col-lg-7 pull-left day">
                             
                              <h3>Arts and Crafts</h3>
                             <p>Included in the daily activities to encourage the expression of each child's natural creativity. They involve such materials as paint, glue, crayons, paper, play dough and collage.</p>	  
                           </div>
                          
                        </div>
                      
                     </div> -->
                     <!-- /#tab6 -->		
                      <!--Tab Content 6 -->
                      <!-- <div class="tab-pane fade" id="tab6">
                        <div class="row">
                           <div class="col-md-5 col-lg-5 pull-left">
                             
                              <img src="img/activity5.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                           <div class="col-md-7 col-lg-7 pull-left day">
                             
                              <h3>Music and Story Reading </h3>
                              <p>These periods provide an environment rich in language. Songs and stories are chosen which reinforce the weekly theme.</p>
                           </div>
                         
                        </div>
                       
                     </div> -->
                     <!-- /#tab6 -->
                      <!--Tab Content 5 -->
                      <!-- <div class="tab-pane fade" id="tab7">
                        <div class="row">
                           <div class="col-md-5 col-lg-5 pull-left">
                             
                              <img src="img/activity5.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                           <div class="col-md-7 col-lg-7 pull-left day">
                             
                              <h3>Dance & Role Play</h3>
                             	  <p>Activities offered each week. Children participate in creative movement.</p>
                           </div>
                           
                        </div>
                       
                     </div> -->
                     <!-- /#tab5 -->
                      <!--Tab Content 5 -->
                      <div class="tab-pane fade" id="tab8">
                        <div class="row">
                          <div class="col-md-7 col-lg-7 pull-left day">
                             
                             <h3>Sleeping Time</h3>
                            <p>Each child is assigned a cot to rest at sleeping area. Parents are asked to bring in a crib size sheet and a light blanket to keep in their allocated locker at day care centre.</p>
                          </div>
                           <div class="col-md-5 col-lg-5 pull-left">
                             
                              <img src="/assets/images/sleeping.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                          
                          
                        </div>
                       
                     </div>
                     <!-- /#tab5 -->									
                  </div>
                  <!--tab-content-->  
               </div>
               <!--tababble--> 
               <br>
               <div class="tabbable">
                  <div class="tab-content col-md-12 col-centered">
                       <!-- /#tab6 -->		
                      <!--Tab Content 6 -->
                      <div class="tab-pane active in fade" id="tab5">
                        <div class="row">
                          <div class="col-md-7 col-lg-7 pull-left day">
                             
                             <h3>Music and Story Reading </h3>
                             <p>These periods provide an environment rich in language. Songs and stories are chosen which reinforce the weekly theme.</p>
                          </div>
                           <div class="col-md-5 col-lg-5 pull-left">
                             
                              <img src="/assets/images/arts.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                          
                         
                        </div>
                       
                     </div>
                     <!-- /#tab6 -->
                     <!--Tab Content 5 -->
                     <div class="tab-pane fade" id="tab6">
                        <div class="row">
                          <div class="col-md-7 col-lg-7 pull-left day">
                             
                             <h3>Arts and Crafts</h3>
                            <p>Included in the daily activities to encourage the expression of each child's natural creativity. They involve such materials as paint, glue, crayons, paper, play dough and collage.</p>	  
                          </div>
                           <div class="col-md-5 col-lg-5 pull-left">
                             
                              <img src="/assets/images/music.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                          
                          
                        </div>
                      
                     </div>
                    
                      <!--Tab Content 5 -->
                      <div class="tab-pane fade" id="tab7">
                        <div class="row">
                          <div class="col-md-7 col-lg-7 pull-left day">
                             
                             <h3>Dance & Role Play</h3>
                                 <p>Activities offered each week. Children participate in creative movement.</p>
                          </div>
                           <div class="col-md-5 col-lg-5 pull-left">
                             
                              <img src="/assets/images/dance.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                          
                           
                        </div>
                       
                     </div>
                     <!-- /#tab5 -->
                      <!--Tab Content 5 -->
                      <div class="tab-pane fade" id="tab8">
                        <div class="row">
                          <div class="col-md-7 col-lg-7 pull-left day">
                             
                             <h3>Sleeping Time</h3>
                            <p>Each child is assigned a cot to rest at sleeping area. Parents are asked to bring in a crib size sheet and a light blanket to keep in their allocated locker at day care centre.</p>
                          </div>
                           <div class="col-md-5 col-lg-5 pull-left">
                             
                              <img src="/assets/images/sleeping.jpg" alt="Secondmom" class="img-responsive img-circle">						
                           </div>
                          
                          
                        </div>
                       
                     </div>
                     <!-- /#tab5 -->									
                  </div>
                  <!--tab-content-->  
               </div>
               <!--tababble--> 
                 <!--Navigation -->
                 <ul class="nav nav-tabs" id="myTab">
                  <!-- <li class="active"><a href="#tab1" data-toggle="tab">Welcome & Free Play </a></li>
                  <li><a href="#tab2" data-toggle="tab">Circle Time</a></li>
                  <li><a href="#tab3" data-toggle="tab">Tummy needs Yummy food</a></li>
                  <li><a href="#tab4" data-toggle="tab">Sports & Yoga time</a></li> -->
                  <li class="pr"><a href="#tab5" data-toggle="tab" style=" border-radius:20px 20px 20px 20px;">Music and Story Reading</a></li>
                  <li class="pr"><a href="#tab6" data-toggle="tab" style=" border-radius:20px 20px 20px 20px;">Arts and Crafts</a></li>
                 
                  <li class="pr"><a href="#tab7" data-toggle="tab" style=" border-radius:20px 20px 20px 20px;" >Dance & Role Play</a></li>
                  <li class="pr"><a href="#tab8" data-toggle="tab" style=" border-radius:20px 20px 20px 20px;">Sleeping Time</a></li>
               </ul>
            </div>
            <!-- /container -->
         </section>
         <!-- /Section ends -->
         <!-- Parallax object -->
         <div class="parallax-object2 hidden-sm hidden-xs" data-0="opacity:1;"
            data-start="margin-top:40%"
            data-100="transform:translatey(0%);"
            data-center-center="transform:translatey(-180%);">
            <!-- Image -->
            <img src="/assets/images/parallaxobject2.png" alt="">
         </div>
        <!-- /Section ends -->
        <!-- Parallax Navigation -->

        <!-- Section About -->


        <!--/ Section ends -->

       

        <!-- Parallax object -->
        <div class="parallax-object1 hidden-sm hidden-xs" data-0="opacity:1;" data-100="transform:translatey(40%);"
            data-center-center="transform:translatey(-180%);">
            <!-- Image -->
            <img src="/assets/img/parallaxobject1.png" alt="image-parallex-object">
        </div>

        <!-- Parallax object -->
        <div class="parallax-object2 hidden-sm hidden-xs" data-0="opacity:1;" data-start="margin-top:40%"
            data-100="transform:translatey(0%);" data-center-center="transform:translatey(-180%);">
            <!-- Image -->
            <img src="/assets/img/parallaxobject2.png" alt="image-parallex-object2">
        </div>
        <!-- Section Gallery -->
        <section id="gallery" class="color-section" style="margin-top:-60px;">
            <!-- svg triangle shape -->
            <svg class="triangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
                viewBox="0 0 100 100" preserveAspectRatio="none">
                <path class="trianglePath1" d="M0 0 L50 100 L100 0 Z" style="fill: #fff;" />
            </svg>
            <div class="container">
                <!-- Section heading -->
                <div class="section-heading">
                    <h2 style="font-size: 41px;">Our Gallery</h2>
                </div>
                <!-- Navigation -->
                <!-- <div class="text-center col-md-12">
                  <ul class="nav nav-pills cat text-center" role="tablist" id="gallerytab">
                     <li class="active"><a href="#" data-toggle="tab" data-filter="*">All</a>
                     <li><a href="#" data-toggle="tab" data-filter=".events">Events</a></li>
                     <li><a href="#" data-toggle="tab" data-filter=".facilities">Our Facilities</a></li>
                  </ul>
               </div> -->
                <!-- Gallery -->
                <style>
                    .gallery-thumb {
                        height: 300px;
                        width: 300px;
                        object-fit: cover;
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;
                        transition: transform 0.3s ease-in-out;
                    }

                    .gallery-thumb img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.3s ease-in-out;
                    }

                    .gallery-thumb:hover img {
                        transform: scale(1.1);
                    }

                    .overlay-mask {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.4);
                        opacity: 0;
                        transition: opacity 0.3s ease-in-out;
                    }

                    .gallery-thumb:hover .overlay-mask {
                        opacity: 1;
                    }

                    .link {
                        position: absolute;
                        /* top: 50%; */
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: white;
                        font-size: 20px;
                        opacity: 0;
                        transition: opacity 0.3s ease-in-out;
                    }

                    .gallery-thumb:hover .link {
                        opacity: 1;
                    }


                    @media (max-width:768px) {
                     .galcenter{
                        width: 100% !important;
                        display: flex !important;
                        justify-content: center !important;
                     }
                    }
                </style>

                <div class="row">
                    <div class="col-md-12">
                        <div id="lightbox">
                            <% let count=0; %>
                                <% imageGalleries?.forEach(item=> {
                                    if (count < 3 && item?.mediaDetails?.mediaType==='IMAGE' &&
                                        item?.mediaDetails?.images.length> 0) {
                                        let firstImage = process.env.S3_BASE_URL + item.mediaDetails.images[0];
                                        count++;
                                        %>
                                        <div class="col-sm-6 galcenter col-md-6 col-lg-4">
                                            <div class="portfolio-item">
                                                <a href="/gallery">
                                                    <div class="gallery-thumb">
                                                        <img class="img-responsive" src="<%= firstImage %>"
                                                            alt="<%= item.title %>">
                                                        <span class="overlay-mask"></span>
                                                        <span class="link"><i class="fa fa-expand"></i></span>
                                                    </div>
                                                </a>
                                                <br>
                                                <a href="/gallery">
                                                    <h5 style="text-align: center;">
                                                        <%= item.title %>
                                                    </h5>
                                                </a>
                                            </div>
                                        </div>
                                        <% } }) %>
                        </div>

                        <!-- /lightbox-->
                        <div class="gallery gallery1">
                            <a class="btn" href="/gallery">VIEW ALL ALBUMS</a>
                        </div>
                    </div>
                    <!-- /col-md-12-->
                </div>


                <!-- /row -->
            </div>
            <!-- /container -->
        </section>
        <!-- Section ends -->
        <!-- Section Latest Blog -->

 <section id="latestblog">
  <div class="container">
    <!-- Section Heading -->
    <div class="section-heading">
      <h2 style="font-size: 41px;">Our Blog</h2>
    </div>
    <!-- Carousel -->
    <div class="row color_block">
      <div id="owl-blog" class="owl-carousel owl-theme">
        <% posts.filter(item => item.category !== "EVENT").forEach(item => { 
          const date = new Date(item.createdAt);
          const formattedDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;
          const imageUrl = `${process.env.S3_BASE_URL + item.banner.image}`;
          const author = item.author || "admin"; // Default to "admin" if author is not provided
        %>
          <div class="blog-preview col-md-12">
            <!-- Blog image -->
            <img src="<%= imageUrl %>" style="height:210px;object-fit:cover;" alt="Secondmom" />
            <div class="latest-caption text-center" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; margin-top: 0; padding-top: 0;">
              <a href="blog/<%= item.seoDetails.slug %>">
                <h4><%= item.title.length > 70 ? item.title.substring(0, 70) + '...' : item.title %></h4>
              </a>
              <!-- Post Info -->
              <div class="post-info">
                <p><i class="fa fa-clock-o"></i><%= formattedDate %></p>
                <p><i class="fa fa-user"></i>by <a href="blog/<%= item.seoDetails.slug %>"><%= author %></a></p>
              </div>
              <!-- Button -->
              <a class="btn" href="blog/<%= item.seoDetails.slug %>" style="padding: 3px; margin-top: 12px !important;">Read More</a>
            </div>
          </div>
        <% }); %>
      </div>
      <!-- /owl-blog -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<!-- Include jQuery and Owl Carousel -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<style>
  /* Fix overall card height */
  #owl-blog .blog-preview {
    height: 450px !important; /* Fixed height for all cards */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent content overflow */
  }

  /* Fix image height */
  #owl-blog .blog-preview img {
    width: 100%;
    height: 200px !important; /* Already set, but enforcing consistency */
    object-fit: cover;
  }

  /* Fix text container height */
  #owl-blog .latest-caption {
    height: 250px; /* Fixed height for text area (total card height - image height) */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out title, post-info, and button */
    padding: 15px;
  }

  /* Ensure consistent title height */
  #owl-blog .latest-caption h4 {
    margin: 0 0 10px;
    font-size: 20px; /* Ensure consistent title size */
    line-height: 1.4; /* Consistent line height */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit title to 2 lines */
    -webkit-box-orient: vertical;
    height: 80px; /* Fixed height for title (2 lines at 25px each) */
  }

  /* Ensure consistent post-info height */
  #owl-blog .post-info {
    margin-bottom: 10px;
    height: 60px; /* Fixed height for post-info (2 lines of text) */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #owl-blog .post-info p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.4;
  }

  /* Ensure button is positioned consistently */
  #owl-blog .latest-caption .btn {
    margin-top: auto; /* Push button to bottom */
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Destroy any existing Owl Carousel instance to prevent duplication
    const $owlBlog = $("#owl-blog");
    if ($owlBlog.data('owl.carousel')) {
      $owlBlog.owlCarousel('destroy');
    }

    // Initialize Owl Carousel
    $owlBlog.owlCarousel({
      items: 3,
      loop: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,
      dots: true,
      nav: false,
      margin: 30,
      responsive: {
        0: {
          items: 1
        },
        768: {
          items: 2
        },
        992: {
          items: 3
        }
      }
    });
  });
</script>
<!-- Section ends -->

<!-- Include jQuery and Owl Carousel -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<style>
  /* Owl Carousel specific styles, scoped to this section */
  #owl-blog .owl-item {
    /* padding: 20px; */
  }

  #owl-blog .owl-dots {
    position: relative;
    margin-top: 20px;
    text-align: center;
  }

  #owl-blog .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #dddddd00;
    opacity: 1;
    border-radius: 50%;
    margin: 0 5px;
  }

  #owl-blog .owl-dot.active {
    background: hsla(0, 0%, 100%, 0);
  }

  @media (max-width: 768px) {
    #owl-blog .container {
      padding: 0 15px !important;
    }

    #owl-blog .owl-item {
      padding: 15px 10px;
    }

    #owl-blog .owl-dots {
      margin-top: 20px;
    }

    #owl-blog .owl-dot {
      width: 8px;
      height: 8px;
    }
  }

  @media (max-width: 480px) {
    #owl-blog .container {
      padding: 0 12px !important;
    }

    #owl-blog .owl-item {
      padding: 12px 8px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Initialize Owl Carousel
    $("#owl-blog").owlCarousel({
      items: 1,
      loop: true,
      autoplay: true,
      autoplayTimeout: 2000,
      autoplayHoverPause: true,
      dots: true,
      nav: false,
      margin: 10
    });
  });
</script>


        <!-- Section ends -->

        <!-- Parallax object -->
        <div class="parallax-object3 hidden-sm hidden-xs" data-0="opacity:1;" data-100="transform:translatex(0%);"
            data-center-center="transform:translatex(380%);">
            <!-- Image -->
            <img src="/assets/img/parallaxobject3.png" alt="image-parallex-object">
        </div>
        
        
        
        <!-- Section Prices -->
        <section id="prices" class="color-section">
            <!-- svg triangle shape -->
            <svg id="triangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
                viewBox="0 0 100 100" preserveAspectRatio="none">
                <path class="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
            </svg>

        </section>

        
        <!-- /Section ends -->
        <!-- Section Call to Action -->
        <section id="call-to-action" class="small-section">
            <div class="container text-center">
                <div class="col-lg-6 col-lg-offset-6 col-sm-6">
                    <div class="well">
                        <!-- Section heading -->
                        <h4>Looking for the right Childcare Centre for your child?</h4>
                        <p>Submit your details and a member of our Concierge Team will be in touch to discuss what you
                            need and how we can help you experience something more than childcare.</p>

                        <p>We'll be in touch soon.</p>
                        <!-- Button -->
                        <div class="page-scroll">
                            <a class="btn" href="#contact">Contact Us</a>
                        </div>
                        <!--/page-scroll -->
                    </div>
                    <!--/well -->
                </div>
                <!--/col-lg-6 -->
            </div>
            <!-- /container-->
        </section>

        <style>
            #call-to-action .col-lg-6 {
                margin: 0 auto;
                /* Centers the column horizontally */
                float: none;
                /* Prevents Bootstrap float issues */
            }
        </style>

        <!-- Section ends -->
        <!-- Section Contact -->
        <div id="contact"></div>
        <br>

        <section class="color-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- Section heading -->
                    <div class="section-heading">
                        <h2 style="font-size: 41px;">Contact us</h2>
                    </div>
                </div>
                <!-- Contact -->


                <div class="col-lg-10 col-lg-offset-1">
                    <!-- Form Starts -->
                    <form class="contact-form" id="contact_form" method="POST"
                        action="<%= API_BASE_URL %>/website/service-enquiry/create-service-enquiry" novalidate>

                        <div class="form-group row mb-0">
                            <div class="col-md-6">
                                <input type="text" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.CHILD_NAME %>"
                                    class="form-control input-field" placeholder="Child Name" required="">
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.CHILD_AGE %>"
                                    class="form-control input-field" placeholder="Child Age" required="">
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col-md-6">
                                <input type="text" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.PARENT_NAME %>"
                                    class="form-control input-field" placeholder="Parent's Name" required="">
                            </div>
                            <div class="col-md-6">
                                <select id="serviceType" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.SERVICE_TYPE %>"
                                    class="form-control required">
                                    <option value="" disabled selected>Program Interested In</option>
                                    <option value="Infant care">Infant care</option>
                                    <option value="Young Toddlers">Young Toddlers</option>
                                    <option value="Older Toddlers">Older Toddlers</option>
                                    <!-- <option value="UKG">UKG</option> -->
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col-md-6">
                                <input type="email" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.EMAIL %>"
                                    class="form-control input-field" placeholder="Email ID" required="">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.CONTACT_NO %>" required
                                    class="form-control required" placeholder="Contact No.">
                            </div>
                        </div>

                        <!-- <div class="form-group mb-3">
                          <textarea name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.REMARKS %>" class="form-control input-field" placeholder="Remarks" style="height: 80px;"></textarea>
                      </div> -->

                        <div class="form-group row mb-3">
                            <div class="col-md-12">
                                <textarea name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.REMARKS %>"
                                    class="form-control input-field" placeholder="Remarks"
                                    style="height: 100px;"></textarea>
                            </div>
                        </div>


                        <button type="submit" id="submit_btn" value="Submit" class="btn center-block"
                            style="margin-top: 30px !important;">Send message</button>
                    </form>
                    <!-- Contact results -->
                    <div id="contact_results"></div>
                </div>

                <style>
                    /* Reduce vertical spacing between form fields */
                    .form-group {
                        margin-bottom: 8px !important;
                        /* Reduced gap */
                    }

                    /* Ensure uniform spacing for the Remarks field */
                    .form-group:last-child {
                        margin-bottom: 8px !important;
                    }

                    /* Keep the Remarks textarea height consistent */
                    textarea[name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.REMARKS %>"] {
                        height: 100px;
                    }

                    /* Center the button properly */
                    #submit_btn {
                        display: block;
                        margin: 30px auto 0;
                        /* Keep 30px top margin */
                    }
                </style>


                <!--/Contact form -->

                <script>
                    // Define constants in JavaScript from Node.js backend (EJS variables)
                    const SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS = <%- JSON.stringify(SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS) %>;

                    // Ensure `websiteID` is retrieved correctly
                    const websiteID = "<%= websiteID ? websiteID : '' %>";
                    const WEBSITE_ID_KEY = "<%= WEBSITE_ID_KEY ? WEBSITE_ID_KEY : 'websiteProjectId' %>";

                    console.log("Website ID:", websiteID);  // Debugging log to check if it's available

                    document.getElementById('contact_form').addEventListener('submit', async function (e) {
                        e.preventDefault();  // Prevent the default form submission
                        const form = e.target;

                        // Validate required fields
                        if (!form.checkValidity()) {
                            displayAlert("Please fill out all required fields.", "error");
                            return;
                        }

                        try {
                            const classSelected = form.querySelector(`select[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.SERVICE_TYPE}"]`).value;

                            const payload = {
                                [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.CHILD_NAME]: form.querySelector(`input[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.CHILD_NAME}"]`).value,
                                [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.CHILD_AGE]: form.querySelector(`input[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.CHILD_AGE}"]`).value,
                                [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.PARENT_NAME]: form.querySelector(`input[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.PARENT_NAME}"]`).value,
                                [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.CONTACT_NO]: form.querySelector(`input[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.CONTACT_NO}"]`).value,
                                [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.EMAIL]: form.querySelector(`input[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.EMAIL}"]`).value,
                                [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.REMARKS]: form.querySelector(`textarea[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.REMARKS}"]`)?.value || "",
                                [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.SERVICE_TYPE]: classSelected,
                                [WEBSITE_ID_KEY]: websiteID  // Ensure it's correctly set
                            };

                            console.log("Payload before sending:", payload);  // Debugging log to check payload before submission

                            const response = await fetch(form.action, {
                                method: "POST",
                                headers: { "Content-Type": "application/json" },
                                body: JSON.stringify(payload),
                            });

                            if (!response.ok) {
                                throw new Error(`HTTP error! Status: ${response.status}`);
                            }
                            form.reset();

                            // Redirect to Thank You page after successful submission
                            window.location.href = "/thank-you"; // Update this path if needed
                        } catch (error) {
                            displayAlert("Form not submitted! Please try again.", "error");
                            console.error("Form submission error:", error);
                        }
                    });

                    // Custom alert function
                    function displayAlert(message, type) {
                        const alertBox = document.createElement("div");
                        alertBox.className = `custom-alert ${type}`;
                        alertBox.textContent = message;
                        document.body.appendChild(alertBox);

                        setTimeout(() => {
                            alertBox.remove();
                        }, 3000);
                    }
                </script>

            </div>


            <iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d150!2d73.1391358!3d22.2957852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc74bd84c7863%3A0x53de2efd8f7cffc!2sSecondMom%20Child%20Care%20Private%20Limited!5e0!3m2!1sen!2sin!4v1749921600!5m2!1sen!2sin"   
             width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" title="map"></iframe>
            <!-- /container-->
        </section>
        <!--Section ends -->
        <%- include('partials/popup-banner') %>

            <%- include('partials/footer'), {pathPart} %>